@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #e7fbfd;
    --color-surface: #F0F0F0;
    --color-border: #111111;
    --color-primary: #0A0A0A;
    --color-muted: #555555;
    --color-accent: #00FFCC;
    /* Neon Turquoise */
    --color-accent-secondary: #00F0FF;
    /* Neon Cyan */
  }

  .dark {
    --color-background: #0A0A0A;
    --color-surface: #141414;
    --color-border: #333333;
    --color-primary: #ace8de;
    --color-muted: #888888;
    --color-accent: #284741;
    --color-accent-secondary: #41777b;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-primary antialiased transition-colors duration-150;
  }
}

@layer utilities {
  .shadow-brutal {
    box-shadow: 4px 4px 0px var(--color-primary);
  }

  .shadow-brutal-hover {
    box-shadow: 6px 6px 0px var(--color-accent);
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  .animate-grid-flow {
    animation: grid-flow 4s linear infinite;
    will-change: background-position;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes grid-flow {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 32px 32px;
  }
}